/**************************************************
				GLOBAL WIDTHS & HEIGHTS
**************************************************/
/**************************************************
				GLOBAL COLORS
**************************************************/
/**************************************************
                POSITIONS
***************************************************/
/**************************************************
                GLOBAL ELEMENTS
***************************************************/
body {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Helvetica, Arial, Sans Serif;
  font-size: 48px; }

.app {
  display: block;
  position: absolute;
  width: 640px;
  height: 480px;
  padding: 0px; }

.timelineCard {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 480px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

.accel {
  display: none; }
  .accel.visible {
    display: block; }

.panoram {
  display: none; }
  .panoram .panoramImage {
    display: inline-block;
    position: relative; }
  .panoram.visible {
    position: absolute;
    display: block;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px; }
