@import "global";

.timelineCard {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 480px;
    //margin: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    // border: 1px solid blue;
}

.accel {
	display: none;

	&.visible {
		display: block;
	}
}

.panoram {
	display: none;

	.panoramImage {
		display: inline-block;
		position: relative;
	}

	.headingHUD {
		position: absolute;
		top: 290px;
		left: 520px;
		width: 100px;
		height: 50px;
		z-index: 1000;
		text-align: center;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border: 1px solid white;
	}

	&.visible {
		position: absolute;
		display: block;
		margin: 0px;
		padding: 0px;
		top: 0px;
		left: 0px;
	}
}