@import "global";

.timelineCard {
    margin: auto;
    //border: 1px solid blue;
}

.accel {
	display: none;

	&.visible {
		display: block;
	}
}

.panoram {
	display: none;

	&.visible {
		display: block;
	}
}